[Desktop Entry]
Encoding=UTF-8
Name=QJackConnect
Comment=Qt based patchbay for JACK
Comment[pl]=Oparty o QT patchbay dla JACK
Exec=/usr/bin/qjackconnect
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;
# vi: encoding=utf-8
